<%- include('../../components/link') %>
<section>
    <div class="main">
        <div class="col-2 p-5 sideBar">
            <h1 class="text-warning">Kasidi</h1>
            <div class="mt-5 beranda text-white">
                <a href="/homes">
                    <i class="fa-2x fas fa-home"></i>
                    <span class="ms-2">Beranda</span>
                </a>
            </div>
            <div class="mt-4 fitur text-white">
                <a href="fitures">
                    <i class="fa-2x fas fa-list-ul"></i>
                    <span class="ms-2">Fitur</span>
                </a>
            </div>
            <div class="mt-4 transaksi text-white">
                <a class="active" href="/transaksis">
                    <i class="fa-2x fas fa-hand-holding-usd"></i>
                    <span class="ms-2">Transaksi</span>
                </a>
            </div>
            <div class="mt-4 riwayat text-white">
                <a href="/riwayats">
                    <i class="fa-2x fas fa-history"></i>
                    <span class="ms-2">Riwayat</span>
                </a>
            </div>
            <div class="mt-4 logout text-white">
                <a href="/logouts">
                    <i class="fa-2x fas fa-history"></i>
                    <span class="ms-2">Logout</span>
                </a>
            </div>
        </div>
        <div class="col-10 mainBar">

        </div>
    </div>
</section>